# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
frontend/dist/

# IDE
.idea/
.vscode/

# Env
.env

# Logs
*.log

# Models
*.pth
*.pt
*.onnx

# Dataset cache
.cache/

# Local database
*.db
*.db-journal

# OS
Thumbs.db
.DS_Store
